.pokemoncard__card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 200px;
    max-height: 250px;
}

.pokemoncard__sprite {
    display: flex;
    justify-content: center;
    height: 35px;
    position: relative;
}

.pokemoncard__sprite img {
    position: absolute;
    top: 0px;
    width: 70px;
}

.pokemoncard__info {
    padding: 35px 20px 0 20px;
    flex: 1;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(198, 198, 198, 1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(198, 198, 198, 1);
    box-shadow: 0px 0px 11px -3px rgba(198, 198, 198, 1);
}

.pokemoncard__info_hover {
    padding: 35px 20px 0 20px;
    flex: 1;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(198, 198, 198, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(198, 198, 198, 1);
    box-shadow: 0px 0px 20px 0px rgba(198, 198, 198, 1);
}

.pokemoncard__infoblock {
    padding: 5px;
}

.pokemoncard__number {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    color: rgba(7, 23, 58, 0.4)
}

.pokemoncard__name {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.pokemoncard__types {
    display: flex;
    justify-content: center;
}