.pokemontype__text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
}

.pokemontype__block {
    padding: 4px 20px 4px 20px; 
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(198, 198, 198, 1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(198, 198, 198, 1);
    box-shadow: 0px 0px 11px -3px rgba(198, 198, 198, 1);
}